.subTitle {
  padding: 10px 0;
  color: var(--tertiary-font-color);
  font-size: var(--font--small);
  font-weight: bold;
}

.statusContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  font-size: var(--font--medium);
}

.currentStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  border: 1px solid rgb(var(--darkGrey--light));
  border-radius: 5px;
  padding: 0 15px;
}

.currentStatus:hover {
  border: 1px solid rgb(var(--purple));
}

.currentStatusActive {
  border: 1px solid rgb(var(--purple));
}

.statusList {
  position: absolute;
  bottom: -140px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  background: var(--primary-background-color);
}

.hidden {
  display: none;
}

.statusListItem {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

.statusListItem:hover {
  background: rgba(var(--purple), 0.2);
}
