.container {
  position: fixed;
  left: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  height: 48px;
  width: 276px;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: transform .3s ease-in;
}

.container:hover {
  color: rgb(var(--purple));
}

.container:hover.open svg path {
  fill: rgb(var(--purple));
}

.container:hover.close svg path {
  fill: rgb(var(--white));
}

.open {
  gap: 20px;
  padding-left: 30px;
  border-radius: 0 25px 25px 0;
}

.open:hover {
  background: var(--toggleSideBar-hover);
}

.close {
  justify-content: flex-end;
  border-radius: 0 25px 25px 0;
  padding-right: 19px;
  background: rgb(var(--purple));
  transform: translateX(calc(-100% + 56px));
}

.close:hover {
  background: rgb(var(--purple--light));
}
