.hidden {
  display: none;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 480px;
  min-width: 343px;
  border-radius: 6px;
  padding: 40px 30px;
  background: var(--secondary-background-color);
}

.title {
  color: rgb(var(--red));
  font-size: var(--font--large);
  font-weight: bold;
}

.message {
  color: var(--secondary-font-color);
  font-size: var(--font--medium);
}

.deleteCancelButtonContainer {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  width: 100%;
}

@media (width >= 768px) {
  .deleteCancelButtonContainer {
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 20px;
    width: 100%;
  }
}
