.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.hidden {
  display: none;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 480px;
  border-radius: 6px;
  padding: 40px 30px;
  background: var(--secondary-background);
}

.title {
  color: rgb(var(--red));
  font-size: var(--font--large);
  font-weight: bold;
}

.message {
  color: var(--secondary-text-color);
  font-size: var(--font--medium);
}

.deleteCancelButtonContainer {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 20px;
  width: 100%;
}
