.container {
  display: flex;
  width: var(--column-width);
  min-width: var(--column-width);
  border-radius: 6px;
  color: var(--secondary-text-color);
}

.column {
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.newColumn {
  align-items: center;
  justify-content: center;
  background: var(--newColumn-background);
  cursor: pointer;
  font-size: var(--font--large);
  font-weight: bold;
}

.newColumn:hover {
  color: rgb(var(--purple));
}
