:root,
.theme-light {
  --purple: 99, 95, 199; /*#635FC7 */
  --purple--light: 168, 164, 255; /*#A8A4FF*/
  --black: 0, 1, 18; /*#000112*/
  --black--light: 32, 33, 44; /*#20212C*/
  --darkGrey: 43, 44, 55; /*#2B2C37*/
  --darkGrey--light: 62, 63, 78; /*#3E3F4E*/
  --grey: 96, 98, 133; /*#606285*/
  --grey--dark-mode: 165, 173, 187; /* #828FA3 */
  --grey--light: 228, 235, 250; /*#E4EBFA*/
  --white: 244, 247, 253; /*#F4F7FD*/
  --white--light: 255, 255, 255; /*#FFFFFF*/
  --red: 234, 85, 85; /*#EA5555*/
  --red--light: 255, 152, 152; /*#FF9898*/

  --column-width: 280px;

  --primary-background-color: rgb(var(--white));
  --secondary-background-color: rgb(var(--white--light));

  --primary-font-color: rgb(var(--black));
  --secondary-font-color: rgb(var(--grey));
  --tertiary-font-color: rgb(var(--grey));

  --board-toggle--hover: rgba(var(--purple), 0.25);
  --board-content--border: rgb(var(--grey--light));

  --button-background-color--purple: rgb(var(--purple));
  --button-background-color--purple--hover: rgb(var(--purple--light));
  --button-background-color--white: rgba(var(--purple), 0.1);
  --button-background-color--white--hover: rgba(var(--purple), 0.25);
  --button-background-color--red: rgb(var(--red));
  --button-background-color--red--hover: rgb(var(--red--light));

  --newColumn-background: rgb(239, 243, 252);

  --font--extra-large: 24px;
  --font--large: 18px;
  --font--medium: 15px;
  --font--small: 12px;
}

.theme-dark {
  --purple: 148, 146, 217; /*#9492D9 */

  --primary-background-color: rgb(var(--black--light));
  --secondary-background-color: rgb(var(--darkGrey));

  --primary-font-color: rgb(var(--white));
  --secondary-font-color: rgb(var(--grey--dark-mode));
  --tertiary-font-color: rgb(var(--white));

  --board-toggle--hover: rgb(var(--white--light));
  --board-content--border: rgb(var(--darkGrey--light));

  --button-background-color--white: rgb(var(--white--light));
  --button-background-color--white--hover: rgb(var(--white--light));

  --newColumn-background: rgb(39, 39, 50);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100svh;
  max-height: 100svh;
}

body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  max-width: 1900px;
  background: var(--primary-background-color);
  color: var(--primary-font-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --purple: 148, 146, 217; /*#9492D9 */

    --primary-background-color: rgb(var(--black--light));
    --secondary-background-color: rgb(var(--darkGrey));

    --primary-font-color: rgb(var(--white));
    --secondary-font-color: rgb(var(--grey--dark-mode));
    --tertiary-font-color: rgb(var(--white));

    --board-toggle--hover: rgb(var(--purple--light));
    --board-content--border: rgb(var(--darkGrey--light));

    --button-background-color--white: rgb(var(--white--light));
    --button-background-color--white--hover: rgb(var(--white--light));

    --newColumn-background: rgb(39, 39, 50);
  }

  html {
    color-scheme: light dark;
  }
}
