.label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  margin-bottom: 10px;
  font-size: var(--font--small);
  font-weight: bold;
}

.input {
  display: flex;
  flex: auto;
  align-items: center;
  height: 40px;
  border-radius: 6px;
  border: 1px solid rgb(var(--darkGrey--light));
  padding-left: 20px;
  background: none;
}
