/* ElipsisMenu */
.button {
  cursor: pointer;
}

/* SubMenu */
.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.subMenuContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 192px;
  border-radius: 10px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background: var(--primary-background-color);
}

.board {
  top: 65px;
  right: 10px;
}

.task {
  top: 60px;
  right: -20px;
}

.hide {
  display: none;
}

/* Item */
.link {
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

.link:hover {
  background: rgba(var(--purple), 0.2);
}

.standard {
  color: var(--secondary-font-color);
}

.delete {
  color: rgb(var(--red));
}

@media (width >= 768px) {
  .task {
    right: -96px;
  }
}
