.container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: var(--column-width);
  color: rgb(var(--grey));
  font-size: var(--font--medium);
  font-weight: bold;
}

.point {
  height: 15px;
  width: 15px;
  border-radius: 25px;
}

.green {
  background: rgb(103, 226, 174);
}

.purple {
  background: rgb(132, 113, 242);
}

.blue {
  background: rgb(73, 196, 229);
}

.red {
  background: rgb(233, 70, 58);
}

.yellow {
  background: rgb(235, 218, 69);
}
