.container {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 60px;
  border: 1px solid var(--board-content--border);
  border-right-color: transparent;
  padding: 0 16px;
  transition: width 0.3s ease-in;
}

.barContainer {
  display: flex;
  gap: 3px;
  height: 25px;
  width: 24px;
}

.bar {
  height: 25px;
  width: 6px;
  border-radius: 2px;
}

.bar1 {
  background: rgba(var(--purple), 1);
}

.bar2 {
  background: rgba(var(--purple), 0.75);
}

.bar3 {
  background: rgba(var(--purple), 0.5);
}

.title {
  display: none;
}

@media (width >=768px) {
  .container {
    width: 300px;
    border-right-color: var(--board-content--border);
    padding-left: 34px;
  }

  .containerReduce {
    width: 200px;
  }

  .title {
    display: block;
    font-size: var(--font--extra-large);
    font-weight: bold;
  }
}
