.container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 300px;
  padding: 34px;
}

.barContainer {
  display: flex;
  gap: 3px;
  height: 25px;
  width: 24px;
}

.bar {
  height: 25px;
  width: 6px;
  border-radius: 2px;
}

.bar1 {
  background: rgba(var(--purple), 1);
}

.bar2 {
  background: rgba(var(--purple), .75);
}

.bar3 {
  background: rgba(var(--purple), .5);
}

.title {
  font-size: var(--font--extra-large);;
  font-weight: bold;
}