.container {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 300px;
  border: 1px solid var(--board-content--border);
  padding-left: 34px;
  transition: all 0.3s ease-in;
}

.containerReduce {
  width: 200px;
}

.barContainer {
  display: flex;
  gap: 3px;
  height: 25px;
  width: 24px;
}

.bar {
  height: 25px;
  width: 6px;
  border-radius: 2px;
}

.bar1 {
  background: rgba(var(--purple), 1);
}

.bar2 {
  background: rgba(var(--purple), 0.75);
}

.bar3 {
  background: rgba(var(--purple), 0.5);
}

.title {
  font-size: var(--font--extra-large);
  font-weight: bold;
}
