.container {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

.title {
  display: flex;
  align-items: center;
  font-size: var(--font--large);
  font-weight: bold;
}

.buttonContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 100%;
}
