.container {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-bottom: 1px solid var(--board-content--border);
  padding: 0 20px;
}

.title {
  display: flex;
  align-items: center;
  font-size: var(--font--large);
  font-weight: bold;
}

.buttonsContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 100%;
}

.buttonContent {
  display: none;
}

@media (width >= 768px) {
  .buttonContent {
    display: flex;
  }
}
