.container {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

.title {
  display: flex;
  align-items: center;
  font-size: var(--font--large);
  font-weight: bold;
}

.buttonsContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 100%;
}

.deleteCancelButtonContainer {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 20px;
  width: 100%;
}
