.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
  width: 100%;
  border: 1px solid var(--board-content--border);
  padding: 25px;
  overflow: auto;
}

.titleContainer {
  display: flex;
  gap: 25px;
  width: 100%;
}

.columnsContainer {
  display: flex;
  gap: 25px;
  height: 100%;
  width: 100%;
}
