.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
  width: 100%;
  padding: 25px;
  overflow: auto;
}

.titleContainer {
  display: flex;
  gap: 25px;
  width: 100%;
}

.columnsContainer {
  display: flex;
  gap: 25px;
  height: 100%;
  width: 100%;
}

.newColumn {
  display: flex;
  width: var(--column-width);
  min-width: var(--column-width);
  border-radius: 6px;
  color: var(--secondary-font-color);
  align-items: center;
  justify-content: center;
  background: var(--newColumn-background);
  cursor: pointer;
  font-size: var(--font--large);
  font-weight: bold;
}

.newColumn:hover {
  color: rgb(var(--purple));
}
