.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 480px;
  border-radius: 6px;
  padding: 30px 40px;
  background: var(--secondary-background-color);
  color: var(--primary-font-color);
  font-size: var(--font--small);
}

.title {
  font-size: var(--font--large);
  font-weight: bold;
}
