.container {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 48px;
  width: 276px;
  padding-left: 20px;
}

@media (width >= 768px) {
  .container {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 48px;
    width: 276px;
    padding-left: 20px;
  }
}
