.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  transition: all 0.3s ease-in;
}

@media (width >= 768px) {
  .sideBarClose {
    transform: translateX(-300px);
    width: calc(100% + 300px);
  }
}
