.container {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  background: var(--secondary-background-color);
}

@media (width >= 768px) {
  .container {
    height: 80px;
  }
}
