.inputList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  color: var(--secondary-font-color);
  font-weight: bold;
}

.input {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.button {
  cursor: pointer;
}
